<footer>
    <div class="left-footer">
        <div class="logo cursor" routerLink="/"  >
            <img src="/blackbackground.png" width="100%" height="100%" alt="">
        </div>
        <h1 class="font cursor" routerLink="/" >Geo car</h1>
        <div class="contact">
            <a href="https://www.facebook.com/levani.levani.8960" target="_blank"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://www.instagram.com/ljangoiani/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://github.com/levanjangoiani" target="_blank"><i class="fa-brands fa-github"></i></a>
            <a href="https://www.linkedin.com/in/levan-jangoiani-81811236a/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
        </div>
        
        
    </div>
    <div class="right-footer">
        <div class="pages">
            <p>Pages</p>
            <a href="nav-link hover" routerLink="/" >Home</a>
            <a class="nav-link hover" routerLink="/cars">Cars</a>     
            <a class="nav-link hover" routerLink="/contact">Contact</a>    
            <a class="nav-link hover" routerLink="/login">Log In</a> 
            
        </div>
        <div class="type">
            <p>Car Types</p>
            <a href="">SUV</a>
            <a href="">Sedan</a>
            <a href="">Truck</a>
            <a href="">Coupe</a>
            <a href="">Van</a>
            <a href="">Hybrid</a>
            <a href="">Electric Car (EV)</a>
            <a href="">Hatchback</a>
            <a href="">Luxury SUV</a>
            <a href="">Luxury Car</a>
            <a href="">Sports Car</a>
            <a href="">Convertible</a>
        </div>                                          
    </div>
</footer>
