.perent{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;

}
.full{
    border: 1px solid rgb(175, 173, 173);
    width: 1300px;
    display: flex;
    flex-direction: row;
    padding: 20px;
    border-radius: 20px;
    
}
.line{
    width: 1px;
    height: 100%;
    background-color: rgb(175, 173, 173);
}
.top{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.image img{
    width: 800px;
}
.right{
  
    width: 300px;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
}
span{
    font-weight: 700;
}
.price{
    width: 50%;
    font-size: 30px;
    text-align: center;
    border-radius: 15px;
    background-color: greenyellow;
    font-weight: 700;
    height: 50px;
}
.buy{
    margin-bottom: 9px;
}
.buy,.text{
    background-color: rgb(15, 190, 15);
    width: 90%;
    font-size: 20px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 20px;
    cursor: pointer;
}
.buy:hover{
    opacity: 0.7;
}
.text:hover{
    opacity: 0.7;
}
.buy p,.text p{
    margin: 0;
    
}
.buy i , .text i{
    margin-right: 7px;
}
.text{
    background-color: #7D51A0;
}
.spects{
    border-top: 1px solid rgb(175, 173, 173);
    border-bottom: 1px solid rgb(175, 173, 173);
}
.spects p{
    font-size: 20px;
    font-weight: 500;
}
@media screen and (max-width:500px) {
    .contact{
        flex-direction: column;
    }
    .perent{
        height: 90% !important;
    }
    .full{
        height: 50%;
    }
    .right{
        padding-left: 10px !important;
    }
    .spects{
        width: 97%;
    }
    .buy,.text{
        width: 97% !important;
    }
}
@media screen and (max-width:991px) {
    .image{
        width: 100%;
    }
    .image img{
        width: 100%;
    }
    .top{
        flex-direction: column;
        width: 100%;
    }
    .perent{
        flex-direction: column !important;
        width: 100%;
        height: 900px;
    }
    .full{
        flex-direction: column !important;
        width: 100% !important;
        height: 90% !important;
        border: none;
        border-radius: none;
        padding: 0;
    }
    .right{
        gap: 20px;
        padding-left: 40px;
        width: 100%;
    }
    .price{
        width: 234px
    }
    .buy,.text{
        width: 234px;
    }
    .spects{
        
        border: 100%;
    }
    .contact{
        display: flex;
        gap: 20px;
    }
}
@media screen and (max-width:1300px) {
    .full{
        width: 1200px;
    }

}

