<nav class="navbar navbar-expand-lg bg-body-tertiary" id="form">
  <div class="container-fluid">
    <div class="logos">
   <img class="logo"  src="test.png" alt="" >
    <a class="navbar-brand hovar font" routerLink="/" >Geo car</a>
    </div>
    <button class="navbar-toggler"  type="button" data-bs-toggle="collapse"  data-bs-target="#navbarNav" aria-controls="navbarNav"  aria-label="Toggle navigation">
      <span class="navbar-toggler-icon" >
      </span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link hover " aria-current="page" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link hover" routerLink="/cars">Cars</a>
        </li>
        <li class="nav-item">
          <a class="nav-link hover" routerLink="/contact">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link hover" routerLink="/login">Log In</a>
        </li>
        <li class="nav-item">
          <a class="nav-link hover Add" routerLink="/addcar"  >Add Cars</a>
        </li>
        
      </ul>
    </div>
    
  </div>
</nav>
