div{
    display: flex;
    justify-content: center;
    position: absolute;
    position: relative;
    width: 100%;
}
img{
    z-index: 0;
    width: 80%;
}
.color{
    background-color: #3E65C4;
    color: white;
    position: absolute;
    width: 384px;
    height: 94px;
    bottom: 88px;
    border-radius: 100px;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    font-size: 33px;
    font-weight: 600;
    border: none;
    
}
@media screen and (max-width:1400px),(min-width:992px) {
    .color{
        color: red;
        width: 266px;
        height: 70px;
        bottom: 59px;
        border-radius: 45px;
        font-size: 25px;
    }
}
@media screen and (max-width:991px){
    img{
        color: red;
       background-color: black;
    }
    .color{
        color: white;
        width: 191px;
        height: 59px;
        bottom: 39px;
        border-radius: 40px;
        font-size: 18px;
    }
}
@media screen and (max-width:500px) {
    img{
        width: 100%;
        height: 400px;
    }
    .color{
    width: 122px;
    height: 39px;
    bottom: 35px;
    border-radius: 120px;
    font-size: 11px;
    }
}

