    <div class="head top" id="contact">
                <h1>Contact</h1>
              </div>
              <div class="social">
                <div class="left-two flex">
                    <a href="https://www.linkedin.com/in/levan-jangoiani-81811236a/" target="_blank" class="go-somewere">
                    <div  class="social-place">
                        <i class="fa-brands fa-linkedin size"></i><p>Linkedin</p>
                    </div>
                    </a>
                    <a href="https://app.netlify.com/teams/ljangoiani/projects" target="_blank" class="go-somewere">
                    <div  class="social-place">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRfWXvMX3ziMCnlDQzdFc7eHB8qmEcz1dEZAQ&s" class="size1" alt=""><p class="netlify">Netlify</p>
                    </div>
                    </a>
                </div>
                
                <div class="right-two flex">
                    <a href="https://www.instagram.com/ljangoiani/" target="_blank" class="go-somewere">
                    <div  class="social-place">
                        <i class="fa-brands fa-instagram size"></i><p>Instagram</p>
                    </div>
                    </a>
                    <a href="https://www.facebook.com/levani.levani.8960" target="_blank" class="go-somewere">
                    <div  class="social-place">
                        <i class="fa-brands fa-facebook-f size"></i><p>facebook</p>
                    </div>
                    </a>
                </div>
                
              </div>