/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.font{
    font-family: "DM Serif Text", serif;
    font-style: italic;
    font-weight: 400;
}
html{
    scroll-behavior: smooth;
}

